/*******************************************************************************
                               GRADUATE PAGE
********************************************************************************/

#main-body {
	display: flex;
    flex-direction: row;
    margin-top: 2.5rem;
	margin-bottom: 2.5rem;	
}

/*Style for banner on graduate pages*/
#img-container{
	height: 21.8vw;
    overflow: hidden;
    display: flex;
    justify-content: center;

}
#top-img-grad{
	min-width: 100vw;
    height: 31.95vw;
	flex: none;
}


/*Side-nav for all graduate pages -- Style for container/ul */
#nav-grad{
	margin-left: 6.2vw;
}
#nav-grad ul{
	background-color: #cacb9a;
}
#nav-grad ul li:first-child a.outer-grad-link{
	border-top: none;
}
#nav-grad ul li:last-child a.outer-grad-link{
	margin-bottom: 0;
	border-bottom: none;
}

/*Style for actual items within the side-nav*/
/*outer-grad-link's are major content pages: Graduate landing, Admissions, Academics, etc*/ 
.outer-grad-link {
	background: linear-gradient(to left, #2a46a2, #152351);
	height: 3rem;
	padding-right: 10.3vw !important;
	padding-top : .5rem !important;
	padding-bottom: .5rem !important;
	border-top: solid .075rem;
	border-bottom: solid .075rem;
	border-color: #cacb9a;
	font-size: larger;
	margin: 0rem;
   
}
.outer-grad-link.active, .outer-grad-link:hover{
	cursor: pointer;
	color: rgb(202, 203, 154) !important;
	background: linear-gradient(to right, #152351, #000);

}

.inner-item{
	display: none;
}

/*inner-nav items are more specific sub pages of the major content pages*/
#nav-grad ul#inner-nav li.inner-item a:hover, #nav-grad ul#inner-nav li.inner-item a.active{
	background: #666;
	cursor: pointer;
}
#nav-grad ul#inner-nav li.inner-item a{
	background: #999;
    height: 1.75rem;
    margin: 0;
	padding-left : 2rem !important;
    padding-top: .2rem !important;
    padding-bottom: 0 !important;
    border-bottom: solid .075rem;
    border-color: #cacb9a;
    font-size: smaller;
}


/*Heading style on graduate pages*/
.grad-heading{
	font-weight: 700;
    color: #1b3561;
    margin-left: -1rem;
    margin-bottom: 1rem;
}

/*Style for container that holds breadcrumb ol*/
#breadcrumb-container{
	margin: 0;
	width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
	margin-top: 2vh;
	margin-bottom: -2vh;
}

/*Style for elements in the main content section of the page*/
#content-section{

	margin-left: 6.9vw;
    margin-top: -1rem;
	margin-right: 4.9vw;
}
.content-pfix{
	
    margin-top: 2rem;
}
#content-img{
	float: right;
    margin-left: 2.5vw;
    margin-bottom: 2.5vw;
    margin-top: 1.25vw;
    border-style: solid;
    padding: 1.25vw;
    border-width: .1rem;
    border-color: #1b3561;
}
#content-img>img{
	width: 31.3vw;
	border-style: outset;
    border-width: medium;
}


/*all style for elements within the information footer section (below content, above true footer)
	PROVIDES IMPORTANT INFORMATION FOR THE PARTICULAR SECTION OF THE SITE YOU ARE IN
*/
#info-footer{
	display: flex;
	flex-direction: row;
	height: 41.4vw;
	background-color:  #cdb87c;
}

#info-img{
	border-style: none;
    height: 41.4vw;
    margin-top: 0rem;
    margin-left: 5.5vw;
}
#info-dialog{
	text-align: center;
    margin-top: 11.5vw;
    padding-left: 0;
    padding-right: 0;
}
#info-dialog h2{
	color: white;
    font-size: 3.1vw;
    padding-left: 7.8vw;
    padding-right: 7.8vw;

}
#info-dialog p{
	margin-top: 1.25vw;
    font-weight: 500;
    font-size: 1.51vw;
	color: #1b3561;
    padding-left: 12.5vw;
    padding-right: 12.5vw;
}
#info-dialog button{
	background-color: #1b3561;
    border-width: medium;
    border-radius: 10rem;
    border-color: white;
    color: white;
    font-size: 1.85vw;
    font-weight: 500;
    padding-left: 1.25vw;
    padding-right: 1.25vw;
    padding-bottom: .31vw;
    border-style: solid;
	margin-top: 0;
}



/*	WHAT FOLLOWS IS AN ADAPTATION OF A BREADCRUMB IMPLEMENTATION FOUND ON CODEPEN
	MODIFICATION HAD TO BE MADE IN ORDER TO HAVE THE STYLE MATCH UP WITH THE THEME FOR THE REST OF THE SITE
	
	ADDITIONALLY, HAD TO CREATE MY OWN CUSTOM COUNTER IN JS (RATHER THAN USING THE COUNTER-FLAG) TO ACCOUNT FOR
	THE POSSIBLE REORGANIZATION OF THE BREADCRUMBS INTO MULTIPLE OL'S DURING RESIZE
*/	
/*custom font*/
@import url(http://fonts.googleapis.com/css?family=Merriweather+Sans);

body > .breadcrumb{
	text-align: center;
	font-family: 'Merriweather Sans', arial, verdana;
}

ol.breadcrumb{
	margin-top: .5rem;
    margin-bottom: -.05rem;
    /* margin-left: 1rem; */		
}
.breadcrumb {
	/*centering*/
	display: inline-block;
	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.35);
	padding: .05%;
	overflow: hidden;
	border-radius: 5px;
	
}

.breadcrumb a {
	text-decoration: none;
	outline: none;
	display: block;
	float: left;
	font-size: 12px;
	line-height: 36px;
	color: white;
	/*need more margin on the left of links to accomodate the numbers*/
	padding: 0 10px 0 60px;
	background: #2a46a2;
	background: linear-gradient(#2a46a2, #152351);
	position: relative;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb a:first-child {
	padding-left: 46px;
	border-radius: 5px 0 0 5px; /*to match with the parent's radius*/
}
.breadcrumb a:first-child:before {
	left: 14px;
}
.breadcrumb a:last-child {
	border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
	padding-right: 20px;
}
/*hover/active styles*/
.breadcrumb a.active, .breadcrumb a:hover{
	background: #152351;
	background: linear-gradient(#152351, #000);
	color: rgb(202, 203, 154) !important;
}
.breadcrumb a.active:after, .breadcrumb a:hover:after {
	background: #152351;
	background: linear-gradient(135deg, #152351, #000);
	
}
/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb a:after {
	content: '';
	position: absolute;
	top: 0; 
	right: -18px; /*half of square's length*/
	/*same dimension as the line-height of .breadcrumb a */
	width: 36px; 
	height: 36px;
	/*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's: 
	length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
	if diagonal required = 1; length = 1/1.414 = 0.707*/
	transform: scale(0.707) rotate(45deg);
	/*we need to prevent the arrows from getting buried under the next link*/
	z-index: 1;
	/*background same as links but the gradient will be rotated to compensate with the transform applied*/
	background: #2a46a2;
	background: linear-gradient(135deg, #2a46a2, #152351);
	/*stylish arrow design using box shadow*/
	box-shadow: 
		2px -2px 0 2px rgba(0, 0, 0, 0.4), 
		3px -3px 0 2px rgba(255, 255, 255, 0.1);
	/*
		5px - for rounded arrows and 
		50px - to prevent hover glitches on the border created using shadows*/
	border-radius: 0 5px 0 50px;
}
/*we dont need an arrow after the last link*/
.breadcrumb a:last-child:after {
	content: none;
}

/*breadcrumb a span will be holding the counter for each element of the breadcrumb ol*/
.breadcrumb a span{
	
	/*some styles now*/
	text-align: center;
	border-radius: 100%;
	width: 20px;
	height: 20px;
	line-height: 20px;
	margin: 8px 0;
	position: absolute;
	top: 0;
	left: 30px;
	background: #1c2f6d;
	background: linear-gradient(#1c2f6d, #0e1735);
	font-weight: bold;
}
.breadcrumb a:first-child span{left: 14px;}

.flat a, .flat a:after {
	background: white;
	color: black;
	transition: all 0.5s;
}
.flat a:before {
	background: white;
	box-shadow: 0 0 0 1px #ccc;
}
.flat a:hover, .flat a.active, 
.flat a:hover:after, .flat a.active:after{
	background: #9EEB62;
}

/*******************************************************************************
                               DYNAMIC RESIZING
********************************************************************************/

@media screen and (max-width: 992px) {
	.featurette-divider {
		margin: 2vh 4vw 3vh 4vw;
	}
	
	#nav-grad{
		margin-left: 20vw;
		margin-right: 20vw;
		margin-bottom: 10vh;
	}
	
	.outer-grad-link {
		padding: 0 !important;
		text-align: center;
		padding-top: .5rem !important;
		padding-bottom: .5rem !important;
	}
	
	#nav-grad ul#inner-nav li.inner-item a{
		padding: 0 !important;
		padding-top: .2rem !important;
		text-align: center;
		
	}
	
	.grad-heading{
		margin-left: 0;
		text-align: center;
	}
	
	#content-section{
		margin-left: 2vw;
		margin-top: -1rem;
		margin-right: 2vw;
		width:	96vw;
	}
		
	#content-img{
		float: none;
		margin: 0;
		padding: 1vw 1vw 1vw 1vw;
		border-width: .5vw;
		width: 80vw;
		margin-top: 2.3vw;
		margin-bottom: 2.3vw;
		margin-left: 7vw;
		margin-right: 7vw;
	}
	
	#content-img>img{
		border-style: none;
		width: 77vw;
		margin: 0;
	}

	#content-section p{
		margin: 0;
		margin-left: 6vw;
		margin-right: 6vw;
		margin-bottom: 6vh;
	}
	
	#content-section p#first-p{
		padding-top: 2vh;			
	}

	#breadcrumb-container{
		margin: 0rem 0rem 0rem 0rem;
		width: 99vw;
		margin-left: .5vw;
		margin-right: .5vw;
	}

	.breadcrumb a {
		/*need more margin on the left of links to accomodate the numbers*/
		padding: 0 10px 0 55px;
	}
	
	
}

/*query to fix style when page gets really skewed in desktop*/
@media screen and (max-width: 600px) and (max-aspect-ratio: 10/10){
	
	#info-img{
		height: 33.4vw;
		margin-top: 4vw;
	}
	#info-dialog{
		margin-top: 10vw;
	}
	#info-dialog h2{
		margin-bottom: .75vw;
	}
	#info-dialog p{
		margin-bottom: .5vw;
	}
	
}

/*media queries specific to mobile devices in portrait*/
@media screen and (max-width: 992px) and (orientation: portrait) and (max-aspect-ratio: 10/16){
	#img-container{height: 23vh;}
	#top-img-grad{height: 32vh;}

	
	#info-footer{
		display: flex;
		flex-direction: column;
		height: 80vh;
	}
	
	#info-img{
		margin-top: 5vh;
		margin-left: 0;
		height: 100vh;
		width: 100vw;
	}

	#info-dialog{
		text-align: center;
		margin-top: 0;
	}

	#info-dialog h2{
		color: white;
		font-size: x-large;
		padding-left: 7vw;
		padding-right: 7vw;

	}

	#info-dialog p{
		margin-top: 0r;
		font-weight: 500;
		font-size: medium;
		color: #1b3561;
		padding-left: 10vw;
		padding-right: 10vw;
	}

	#info-dialog button{
		font-size: larger;
		margin-top: 0;
		margin-bottom: 5vh;
	}


}

