/*******************************************************************************
                                   BODY
********************************************************************************/

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  /*background: linear-gradient(to bottom, rgba(238,238,238,1) 0%, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 39%, rgba(255,255,255,1) 100%);}*/
  background: radial-gradient(ellipse at center, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 85%, rgba(226,226,226,1) 100%);
}
/* Toggle this code to outline all elements, to help with alignments */

/*body * {
  border: 1px solid #000;
}*/

/*******************************************************************************
                              TOP NAVIGATION
********************************************************************************/

#navbar-top {
  background: linear-gradient(to bottom, rgba(18,30,70,1) 0%, rgba(62,70,97,1) 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 3.5rem;
}

.seal {
  width: 2.4rem;
  height: 2.4rem;
}

.nav-link {
  color: #FFF !important;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  margin-top: 0.2rem;
}

.nav-item a:hover {
  color: rgb(202, 203, 154) !important;
}

.navbar-logo {
  padding-top: 0.1rem;
}

.navbar-brand {
  color: #FFF !important;
  font-family: 'Slabo 27px', serif;
  text-transform: none !important;
  font-size: 1.5rem;
  padding-left: 0.75rem;
  padding-top: 0.25rem;
}

/*******************************************************************************
                            HOMEPAGE (INDEX.HTML)
********************************************************************************/

.carousel {
  margin-bottom: 4rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-bottom: solid 1px #333;
}

.carousel-caption {
  z-index: 10;
  font-family: 'Open Sans', sans-serif;
}

.carousel-item {
  height: 32rem;
  background-color: #777;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.carousel-indicators {
  top: 1.5rem;
  right: 1.5rem;
  bottom: auto;
  left: auto;
  width: 1rem;
  margin-left: 0;
}

.carousel-indicators > li {
  margin-bottom: .25rem;
}

/*******************************************************************************
                              MARKETING SECTION
********************************************************************************/

.marketing .col-lg-4 {
  text-align: center;
}

.marketing h2 {
  font-weight: normal;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.marketing p {
  font-family: 'Open Sans', sans-serif;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

.marketing .btn {
  margin-top: 1rem;
}

.img-circle {
  border: solid 4px #FFF;
  height: 14rem;
  width: 14rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*******************************************************************************
                                NEWS SECTION
********************************************************************************/

.featurette-divider {
  margin: 5rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  text-align: justify;
}

.news {

}

#headline-news-heading {
  margin-bottom: 2rem;
  margin-left: 3rem;
}

#recent-news-heading {
  margin-bottom: 2rem;
  margin-left: 2.5rem;
}

.left-news h2 {
  margin-left: 3rem;
}

.left-news h5 {
  margin-left: 3rem;
}

.left-news img {
  margin-left: 3rem;
  height: 12rem;
  width: 28rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  border: solid 4px #FFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left-news > div {
  margin-left: 3rem;
}

.left-news p {
  margin-left: 3rem;
  margin-right: 2rem;
}

.news-info {
  display: flex;
  flex-flow: column;
  list-style: none;
  padding-right: 2rem;
}

.news-details {
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

#headline-news-image {
  height: 20rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  border: solid 2px #333;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#news-btn {
  margin-top: 1rem;
  list-style: none;
}

/*******************************************************************************
                                EVENTS SECTION
********************************************************************************/

#featured-event-heading {
  margin-bottom: 2rem;
  margin-left: 3rem;
}

#upcoming-event-heading {
  margin-bottom: 2rem;
  margin-left: 2.5rem;
}

.featured-event {
  height: 11rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  border: solid 2px #333;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.left-events h2 {
  margin-left: 3rem;
}

.left-events h5 {
  margin-left: 3rem;
}

.left-events img {
  margin-left: 3rem;
}

.left-events > div {
  margin-left: 3rem;
}

.left-events p {
  margin-left: 3rem;
  margin-right: 2rem;
}

.events li {
  list-style: none;
  text-align: left;
  margin-bottom: 1rem;
  margin-top: -1rem;
}

.event {
  display: flex;
  flex-flow: row;
  align-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.event div li {
	margin: auto
}

.date {
  display: flex;
  flex-flow: column;
  list-style: none;
}

.calendar {
  display: flex;
  flex-flow: column;
  text-align: center;
  width: 4rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 1rem;
  height: 4rem;
  border: solid 1px #777;
}

.calendar-top {
  background-color: rgba(62,70,97,1);
  color: #FFF;
}

.calendar-bottom {
  height: 1rem;
  font-size: 1.5rem;
}

.calendar-bottom span {
  margin-top: 0.5rem;
}

.time {
  font-size: 0.75rem;
}

.events .btn {
  margin-top: 2rem;
}

.square {
  background-color: #444;
  height: 20rem;
  width: 20rem;
}

/*******************************************************************************
                                FOOTER SECTION
********************************************************************************/

footer {
  background: linear-gradient(to bottom, rgba(254,254,254,1) 0%, rgba(219,219,219,1) 61%, rgba(219,219,219,1) 71%, rgba(226,226,226,1) 100%);
  padding: 1rem;
  height: 21rem;
  text-align: center;
  font-size: 0.9rem;
  border-top: solid 1px #333;
  margin-top: -6rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer ul {
  padding-top: 1rem;
  text-align: left;
}

footer a {
  color: #555 !important;
}

footer .row {
  padding-top: 1rem;
}

#tweet-heading {
  text-align: justify;
  margin-left: -2rem;
  margin-top: 1rem;
}

.latest-news {
  margin-left: -3rem;
  margin-right: 1.5rem;
}

.latest-news li {
  margin-bottom: 0.5rem;
}

#contact-heading {
  margin-top: 1rem;
}

.contact {
  list-style: none;
  margin-left: -3rem;
  text-align: center;
}

#map {
  margin-top: 0.25rem;
  left: 13%;
  height: 16rem;
  width: 20rem;
  border: solid 2px #FFF;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#vertical-separators {
  border-left: solid 1px #CCC;
  border-right: solid 1px #CCC;
}

#vertical-separator {
  border-left: solid 1px #CCC;
}

/*******************************************************************************
                            HOMEPAGE @MEDIA 480PX
********************************************************************************/


@media screen and (max-width: 480px) {

  /* Media query if we choose to implement responsive designs for mobile */

}

/*******************************************************************************
                               BOTTOM NAVIGATION
********************************************************************************/

#navbar-bottom {
  background: linear-gradient(to top, rgba(18,30,70,1) 0%, rgba(62,70,97,1) 100%);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 3.5rem;
}

#navbar-bottom a {
  color: #FFF !important;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin: auto;
}

#tweet {
  color: rgb(70, 154, 233) !important;
  margin-right: 0.5rem;
}

#navbar-social {
  font-size: 1.5rem;
  margin-top: -0.4rem;
}

#navbar-bottom a:hover {
  color: rgb(202, 203, 154) !important;
}

@media screen and (max-width: 480px) {

  /* Media query if we choose to implement responsive designs for mobile */

}

/*******************************************************************************
                            FONT & EFFECT CLASSES
********************************************************************************/

.active-tab {
  color: rgb(202, 203, 154) !important;
}
