/*******************************************************************************
                                   BODY
********************************************************************************/

/* Toggle this code to outline all elements, to help with alignments */

/*body * {
  border: 1px solid #000;
}*/

/* NAVIGATION PILLS */

.img-circle {
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.tab-content {
	color: rgb(202, 203, 154);
	background-color: rgba(62,70,97,1);
	border-radius: 0.5rem;
}

.tab-info > h2 {
	margin-top: 1rem;
}

.tab-image {
	margin: auto;
	text-align: center;
}

.nav-pills .nav-link.active, 
.nav-pills .nav-link.active:focus, 
.nav-pills .nav-link.active:hover {
	color: rgb(202, 203, 154) !important;
	background-color: rgba(62,70,97,1);
}

.nav-pills .nav-link  {
	color: rgba(62,70,97,1) !important;
}

.nav-pills .nav-item {
	text-align: center;
}