/*******************************************************************************
                                   BODY
********************************************************************************/

html, body {
  height: 100%;
  width: 100%;
  background-color: #FFF;
}

body {
  color: #FFF;
}

/* Toggle this code to outline all elements, to help with alignments */

/*body * {
  border: 1px solid #fff;
}*/

/*******************************************************************************
                              TOP NAVIGATION
********************************************************************************/



/*******************************************************************************
                              BACKGROUND IMAGE
********************************************************************************/

.jumbotron {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60vh;
  /*background: transparent url('../img/somefilename.jpeg') no-repeat center;
  background-size: cover;*/
}

/*******************************************************************************
                            HOMEPAGE (INDEX.HTML)
********************************************************************************/

#hello-world {
  font-size: 5em;
  text-align: center;
  width: 100%;
  color: #333;
}

/*******************************************************************************
                            HOMEPAGE @MEDIA 480PX
********************************************************************************/


@media screen and (max-width: 480px) {

  /* Media query if we choose to implement responsive designs for mobile */

}

/*******************************************************************************
                               BOTTOM NAVIGATION
********************************************************************************/


@media screen and (max-width: 480px) {

  /* Media query if we choose to implement responsive designs for mobile */

}

/*******************************************************************************
                            FONT & EFFECT CLASSES
********************************************************************************/
