/********************************************************************
                            TOP NAVIGATION
********************************************************************/

/* Basic navbar color scheme and effects */

#nav-top {
  background: linear-gradient(to bottom, rgba(18,30,70,1) 0%, rgba(62,70,97,1) 100%);
}

/* Pitt logo container */

.navbar-logo {
  padding-top: 0.1rem;
}

/* Pitt seal */

.seal {
  margin-top: 0.05rem;
  width: 2.75rem;
  height: 2.75rem;
}

/* School and department text */

.navbar-brand {
  color: #FFF !important;
  font-family: 'Slabo 27px', serif;
  text-transform: none !important;
  font-size: 1.4rem;
  padding-left: 0.75rem;
  padding-top: 0.5rem;
}

/* Move navigation options to the right */

#navbarResponsive {
  float: right;
}

/* Container that holds responsive menu bar */

.menu-container {
  margin-top: 1rem;
  height: 1.4rem;
  width: 1.75rem;
}

/* Responsive menu bar */

.navburger {
  position: absolute;
  cursor: pointer;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.navburger div {
  position: absolute;
  left: 0;
  display: block;
  width: 1.5rem;
  height: 0.2rem;
  border-radius: 9px;
  background: #FFF;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

.navburger div:nth-child(1) {
  top: 0;
}

.navburger div:nth-child(2), .navburger div:nth-child(3) {
  top: 0.4rem;
}

.navburger div:nth-child(4) {
  top: 0.8rem;
}

.navburger.open div:nth-child(1), .navburger.open div:nth-child(4) {
  top: 0.4rem;
  left: 25%;
  width: 0%;
}

.navburger.open div:nth-child(2) {
  background: #FFF;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navburger.open div:nth-child(3) {
  background: #FFF;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/********************************************************************
                        GENERAL NAVIGATION
********************************************************************/

/* General navigation fonts, effects, and positioning */

.nav-link {
  color: #FFF !important;
  font-family: 'Open Sans', sans-serif;
  margin-top: 0.3rem;
}

.nav-item a:hover {
  color: rgb(202, 203, 154) !important;
}

@media screen and (max-width: 992px) {

  .navbar-brand {
    font-size: 1.5rem;
    padding-top: 0.4rem;
    width: 70%;
  }

  #navbarResponsive {
    float: left;
  }
 
}