/*******************************************************************************
                                   BODY
********************************************************************************/

/* Toggle this code to outline all elements, to help with alignments */

/*body * {
  border: 1px solid #000;
}*/

body {
	position: relative;
	z-index: -100;
}

/* NAVIGATION PILLS */

.img-circle {
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.tab-content {
	color: rgb(202, 203, 154);
	background-color: rgba(62,70,97,1);
	border-radius: 0.5rem;
}

.tab-info > h2 {
	margin-top: 1rem;
}

.tab-image {
	margin: auto;
	text-align: center;
}

.nav-pills .nav-link.active, 
.nav-pills .nav-link.active:focus, 
.nav-pills .nav-link.active:hover {
	color: rgb(197, 168, 118) !important;
	background-color: rgb(0, 43, 94);
}

.nav-pills .nav-link  {
	color: rgba(62,70,97,1) !important;
	background-color: rgb(197, 168, 118);
	border: solid 4px black;
	margin-top: -5px;
}

.nav-pills .nav-item {
	text-align: center;
}

.sidebar {
	position: fixed;
	text-align: center;
	right: 1rem;
}

.side-links {
	position: fixed;
	text-align: center;
	right: 1rem;
	float: right;
	z-index: 200000;
}

.content-row {
	overflow: hidden;
	background-size: cover;
}

.content-row:nth-child(even){
	background-color: rgb(0, 43, 94);
}
.content-row:nth-child(odd){
	background-color: rgb(197, 168, 118);
}

.content-img {
  min-height: 100%;
  min-width: 100%;
  position: relative;
}

.content-header {
	height: 100vh;
	overflow: hidden;
}

.content-header img {
  min-height: 100%;
  min-width: 100%;
}


.content-header h1 {
  bottom: 95%;
  
  font-size: 10vh;
  margin: 0 auto;
  font-weight: bold;
  
  text-align: center;
  
  color: #fff !important;
  text-shadow: 0 0 2px #000;
  
  position: relative;
}

.content-header p {
  
  font-size: 8vh;
  margin-bottom: 1rem;
  font-weight: bold;
  
  text-align: center;
  padding-top: 0rem;
  
  color: #fff !important;
  text-shadow: 0 0 2px #000;
}

.item-image {
  border: solid 4px #FFF;
  border-radius: 50%;
  min-width: 100%;
  overflow: hidden;
  margin-bottom: 0rem;
  margin-top: 15%;
  margin-bottom: 15%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


  position: relative;
  overflow: hidden;
  padding: 50%;
}

.item-image img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  min-height: 100%;
}

.content-row h2 {
	margin: 0 auto;
	font-weight: bold;

	text-align: center;

	color: #fff !important;
	text-shadow: 2px 2px #000;
	background-color: rgba(0, 43, 94, 0.4);
	position: relative;
}

.item-text {
	margin-top: 15%;
	margin-bottom: 15%;
	text-align: center;
	color: white;
}

.btn {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1vh;
	margin-bottom: 1vh;
	font-size: xx-large;
	border-radius: 10rem;
}

.btn-blue{
	background-color: rgb(0, 43, 94);	
	color: rgb(197, 168, 118);

}

.btn-gold{
	background-color: rgb(197, 168, 118);
	color: rgb(0, 43, 94);
}
